@model DndMate.WebApp.ViewModels.GamespacePropsViewModel
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav toolbar">
            <li class="nav-item">
                <form action="@Url.Action("Get", "Characters", new { id = Model.Character.Id })">
                    <button class="btn">
                        <img class="character" src="~/Source/rogue.jpg" />
                        @Model.Character.Name
                    </button>
                </form>
            </li>
        </ul>
        <ul class="toolbar navbar-nav ms-md-auto">
            <li class="nav-item">
                <button class="btn link-info" data-bs-toggle="modal" data-bs-target="#invite">Invite</button>
            </li>
            <li class="nav-item">
                <button class="btn link-danger" data-bs-toggle="modal" data-bs-target="#leave">Leave</button>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar-vertical navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav flex-column">
        <li class="nav-item vertical-item">
            <a class="nav-link" href="@Url.Action("Get", "Gamespace", new { id = Model.Gamespace.Id })">
                <img class="icon" src="~/source/book.png" />
            </a>
        </li>
        <li class="nav-item  vertical-item">
            <a class="nav-link" href="@Url.Action("Index", "Spells", new {gamespaceId = Model.Gamespace.Id, charId = Model.Character.Id})">
                <img class="icon" src="~/source/scroll.png" />
            </a>
        </li>
        <li class="nav-item vertical-item">
            <a class="nav-link" href="@Url.Action()">
                <img class="icon" src="~/source/money-bag.png" />
            </a>
        </li>
        <li class="nav-item vertical-item">
            <a class="nav-link" href="@Url.Action()">
                <img class="icon" src="~/source/assasin.png" />
            </a>
        </li>

        <li class="nav-item vertical-item">
            <a class="nav-link" href="@Url.Action()">
                <img class="icon" src="~/source/team.png" />
            </a>
        </li>
    </ul>
</nav>

<div class="modal fade" id="leave" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Leave @Model.Gamespace.Name?</h5>
                <a class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to leave @Model.Gamespace.Name?<br /> All data about your character will be removed.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                <form action="@Url.Action("Leave", "Gamespace")">
                    <input type="hidden" name="gamespaceId" value="@Model.Gamespace.Id"/>
                    <button class="btn btn-danger">Leave</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="invite" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Invite new player</h5>
                <a class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            @using (Html.BeginForm("Submit", "Notifications", new {notificationDto = Model.Notification}))
            {
                <div class="modal-body">

                        <div class="form-group">
                            @Html.LabelFor(n => n.Notification.UserEmail)
                            @Html.TextBoxFor(n => n.Notification.UserEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(n => n.Notification.UserEmail)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(n => n.Notification.Message)
                            @Html.TextBoxFor(n => n.Notification.Message, new { @class = "form-control" })
                            @Html.ValidationMessageFor(n => n.Notification.Message)
                        </div>
                        @Html.HiddenFor(n => n.Notification.Id)
                        @Html.HiddenFor(n => n.Notification.GamespaceId)
                        @Html.AntiForgeryToken()
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-info">Invite</button>
                </div>
            }
        </div>
    </div>
</div>
