@model DndMate.WebApp.ViewModels.CharacterListViewModel
@using DndMate.WebApp.Enums
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var master = Model.Characters.Single(c => c.Role == Role.Master);
    var players = Model.Characters.Where(c => c.Role == Role.Player);
}

@Html.Partial("_GamespaceTools", Model.Gamespace)

<div class="gamespace-content">
    <h4>Master:</h4>
    <div class=" player-card" style="max-width: 20rem;">
        <img class="character" src="~/Source/rogue.jpg" />
        <strong class="text-primary">Name:</strong>
        <span class="space-right">
            @master.Name
        </span>
    </div>
    <hr />
    <h4>Players:</h4>
    @foreach (var player in players)
    {
        <a class="btn btn-long" href="@Url.Action("Get", "Characters", new { id = player.Id })">
            <div class=" player-card" style="max-width: 20rem;">
                <img class="character" src="~/Source/rogue.jpg" />
                <strong class="text-primary">Name:</strong>
                <span class="space-right">
                    @player.Name
                </span>
                <strong class="text-primary">Level:</strong>
                <span class="space-right">
                    @player.Level
                </span>
            </div>
        </a>
    }
</div>
