@model DndMate.WebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<br />
<br />
<br />
<div class="gamespace-content">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                <hr />
                <div class="form-group">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                    <br />
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                    <br />
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                    <br />
                    <div class="text-center">
                        <a class="btn btn-secondary" href="@Url.Action("Login", "Account")">Log in</a>
                        <button class="btn btn-primary">Register</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4"></div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
