@model DndMate.WebApp.Dtos.SpellDto

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Spells"))
{
    @Html.ValidationSummary()

    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Name)

    @Html.LabelFor(m => m.FullName)
    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.FullName)

    @Html.LabelFor(m => m.Image)
    @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Image)

    @Html.LabelFor(m => m.Level)
    @Html.TextBoxFor(m => m.Level, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Level)

    @Html.LabelFor(m => m.CastingTime)
    @Html.TextBoxFor(m => m.CastingTime, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CastingTime)

    @Html.LabelFor(m => m.Range)
    @Html.TextBoxFor(m => m.Range, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Range)

    @Html.LabelFor(m => m.Components)
    @Html.TextBoxFor(m => m.Components, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Components)

    @Html.LabelFor(m => m.Duration)
    @Html.TextBoxFor(m => m.Duration, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Duration)

    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Description)

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.GamespaceId)
    @Html.HiddenFor(m => m.Id);
    <button>Submit</button>
}