@model DndMate.WebApp.ViewModels.SpellListViewModel
@using DndMate.WebApp.Enums
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_GamespaceTools", Model.Gamespace)
<div class="gamespace-content">

    <div class="row">
        <div class="col-2">
            <h2>Spells</h2>
        </div>
        <div class="col-md-9 col-sm-6"></div>
        <div class="col-md-1 col-sm-4">
            <a class="btn btn-primary add-btn" href="@Url.Action("Create", "Spells", new {gamespaceId = Model.Gamespace.Gamespace.Id})">Add new</a>
        </div>
    </div>
    @foreach (var spell in Model.AssignedSpells)
    {
        <div class="accordion" id="assigneditem@(spell.Id)">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#assignedinfo@(spell.Id)" aria-expanded="false" aria-controls="collapseOne">
                        @spell.Name
                    </button>
                </h2>
                <div id="assignedinfo@(spell.Id)" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#assigneditem@(spell.Id)" style="">
                    <div class="accordion-body">
                        <table class="table-borderless">
                            <tbody>
                                <tr>
                                    <th scope="row">Level</th>
                                    <td>@spell.Level</td>
                                </tr>
                                <tr>
                                    <th scope="row">Range</th>
                                    <td>@spell.Range</td>
                                </tr>
                                <tr>
                                    <th scope="row">Duration</th>
                                    <td>@spell.Duration</td>
                                </tr>
                                <tr>
                                    <th scope="row">Components</th>
                                    <td>@spell.Components</td>
                                </tr>
                                <tr>
                                    <th scope="row">Casting time</th>
                                    <td>@spell.CastingTime</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            @spell.Description
                        </p>
                        <a class="link-dark" href="@Url.Action("DropSpell", "Characters", new {charId=Model.Gamespace.Character.Id, spellId = spell.Id})">Drop</a>
                    </div>
                </div>
            </div>
        </div>

    }
    <hr />
    @foreach (var spell in Model.Spells)
    {
        <div class="accordion" id="item@(spell.Id)">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#info@(spell.Id)" aria-expanded="false" aria-controls="collapseOne">
                        @spell.Name
                    </button>
                </h2>
                <div id="info@(spell.Id)" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#item@(spell.Id)" style="">
                    <div class="accordion-body">
                        <table class="table-borderless">
                            <tbody>
                                <tr>
                                    <th scope="row">Level</th>
                                    <td>@spell.Level</td>
                                </tr>
                                <tr>
                                    <th scope="row">Range</th>
                                    <td>@spell.Range</td>
                                </tr>
                                <tr>
                                    <th scope="row">Duration</th>
                                    <td>@spell.Duration</td>
                                </tr>
                                <tr>
                                    <th scope="row">Components</th>
                                    <td>@spell.Components</td>
                                </tr>
                                <tr>
                                    <th scope="row">Casting time</th>
                                    <td>@spell.CastingTime</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            @spell.Description
                        </p>
                        <a class="link-info" href="@Url.Action("AssignSpell", "Characters", new {charId=Model.Gamespace.Character.Id, spellId = spell.Id})">Get</a>
                        <a class="link-warning" href="@Url.Action("Edit", "Spells", new {id = spell.Id})">Edit</a>
                        <a class="link-danger" href="@Url.Action("Delete", "Spells", new {id = spell.Id})">Delete</a>
                        <div class="dropdown">
                            <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#" id="charactersList" data-bs-toggle="dropdown">
                                Assign spell to
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var character in Model.Gamespace.Characters)
                                {
                                    <li>
                                        <a href="@Url.Action("AssignSpell", "Characters", new {spellId = spell.Id, charId = Model.Gamespace.Character.Id})" class="dropdown-item" >@Model.Gamespace.Character.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
