@model DndMate.WebApp.ViewModels.GamespaceFormViewModel

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Gamespace.Id != 0)
{
    @Html.Partial("_GamespaceTools", Model.GamespaceProps)
}
else
{
    <br />
    <br />
    <br />
}

<div class="gamespace-content">

    @using (Html.BeginForm("Save", "Gamespace", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.Gamespace.Id)

                    @Html.LabelFor(m => m.Gamespace.Name)
                    @Html.TextBoxFor(m => m.Gamespace.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Gamespace.Name)
                    <br />
                    <label>Master's name</label>
                    <input class="form-control" type="text" name="masterName" value="@Model.GamespaceProps.Character.Name"/>
                    <br />
                    @Html.LabelFor(m => m.Gamespace.Description)
                    @Html.TextAreaFor(m => m.Gamespace.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Gamespace.Description)

                </div>
            </div>
        </div>
        <br />
        if (Model.Gamespace.Id != 0)
        {
            <a class="btn btn-secondary" href="@Url.Action("Get", "Gamespace", new {id = Model.GamespaceProps.Gamespace.Id})">Cancel</a>

        }
        else
        {
            <a class="btn btn-secondary" href="@Url.Action("Index", "Gamespace")">Cancel</a>

        }
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>
