@model DndMate.WebApp.ViewModels.GamespaceListViewModel
@using DndMate.WebApp.Enums
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="gamespace-content">
    <div class="row">
        <div class="col-2">
            <h2>Gamespaces</h2>
        </div>
        <div class="col-md-8 col-sm-6"></div>
        <div class="col-md-2 col-sm-4">
            <a class="btn btn-primary add-btn" href="@Url.Action("Create", "Gamespace")">Create new</a>
        </div>
    </div>
    <hr />
    @if (Model.Gamespaces.Count() == 0)
    {
        <p class="text-muted">Nothing here.</p>
    }
    else
    {
        foreach (var gamespace in Model.Gamespaces)
        {
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gamespace@(gamespace.Gamespace.Id)" aria-expanded="false" aria-controls="collapseOne">
                            @gamespace.Gamespace.Name
                        </button>
                    </h2>
                    <div id="gamespace@(gamespace.Gamespace.Id)" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <p class="description">
                                @gamespace.Gamespace.Description
                                <div class="btn-long">
                                    <div class=" player-card" style="max-width: 20rem;">
                                        <img class="character" src="@Class.Icons[gamespace.Character.CharacterClass]" />
                                        @if (gamespace.Character.CharacterClass != CharacterClass.Master)
                                        {
                                            <strong class="text-primary">Name:</strong>
                                            <span class="space-right">
                                                @gamespace.Character.Name
                                            </span>
                                            <strong class="text-primary">Level:</strong>
                                            <span class="space-right">
                                                @gamespace.Character.Level
                                            </span>
                                            <strong class="text-primary">Class:</strong>
                                            <span class="space-right">
                                                @gamespace.Character.CharacterClass
                                            </span>
                                        }
                                        else
                                        {
                                            <strong class="text-primary">Name:</strong>
                                            <span class="space-right">
                                                @gamespace.Character.Name
                                            </span>
                                            <strong class="text-primary">Role:</strong>
                                            <span class="space-right">
                                                @gamespace.Character.CharacterClass
                                            </span>
                                        }
                                    </div>
                                </div>
                            </p>
                            <a class="btn btn-outline-info" href="@Url.Action("Get", "Gamespace", new { id= gamespace.Gamespace.Id})">Enter</a>
                        </div>

                    </div>
                </div>
            </div>
        }
    }
</div>
